body {
    background-color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    color: #2E2F42;

}
body li {
    list-style-type: none;
}
body li a {
    text-decoration-line: none;
}
.web {
    color: #4D5AE5;
    font-weight: 700;
    font-size: 18px;
}
.studio {
    color: #2E2F42;
}
