body {
    background-color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    color: #2E2F42;

}

body li {
    list-style-type: none;
}
body li a {
    text-decoration-line: none;
}
.web {
    color: #4D5AE5;
    font-weight: 700;
    font-size: 18px;
    line-height: 0.3em;

}
.studio {
    color: #2E2F42;
    font-weight: 700;
    font-size: 18px;
    line-height: 0.3em;
}
.nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 0.5em;
    color: #2E2F42;
}
.addr {
    font-weight: 400;
    font-size: 16px;
    line-height: 0.5em;
    color: #434455;
}
main section h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.4em;
}
button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    cursor: pointer;
}
footer {
    background-color: #2E2F42;
}
footer a {
    text-decoration-line: none;
}
footer .studio {
    color: #FFFFFF;
}
footer p {
    color: #FFFFFF;
}
.nav:hover,:focus{
    color: #4D5AE5;
}
.addr:hover,:focus{
    color: #4D5AE5;
}
.web,.studio:hover,:focus{
    color: #4D5AE5;
}
